# Telegram API credentials (https://my.telegram.org)
TG_API_ID=36954236
TG_API_HASH=627047f4fc782f8ab537b986f55322f1

# Твой номер телефона для авторизации парсера
PHONE=+79206607231

# Токен бота от @BotFather
BOT_TOKEN=8073636855:AAGdppJ6UJP-eW_HWBN4Cz0hJSfzUO7F7UQ

# Настройки парсера
MAX_CHANNELS=5000
CRAWL_DEPTH=3
DELAY_BETWEEN_REQUESTS=10

DATABASE_PATH=data/catalog.db